body {
   /* height: 300px; */
   width: 300px;
   margin: 0;
   border: 5px 	#f38989 solid;
   background-color: #c1cbb1;
   padding: 0 0.5rem;

}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.buttons button {
    width: 100%;
}

.task-container {
    margin-bottom: 1rem;
}

img {
    height: 40px;
}